.navbar-brand {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.mas {
    width: 15px;
    height: 15px;
    padding-bottom: 3.5px;
    padding-left: 0.2px;
}

.COMPRA {
    text-decoration: underline;
}

.navbar {
    background-color: grey;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

.cart-dropdown {
    min-width: 280px;
    max-width: 100vw;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-estilo {
    width: 100%;
    height: 78vh;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.imgane1,
.video {
    width: 100%;
    height: 150vh;
    object-fit: cover;
}
.imagen-estilo{
    width: 100%;
    height: 45vh;
    cursor: pointer;

}
.imagenmenu{
    width: 100%;
    height: 45vh;
}