.navbar-brand{
    font-size: 14px;
    font-family: 'Montserrat',sans-serif;
}
.mas{
    width: 15px;
    height: 15px;
    padding-bottom: 3.5px;
    padding-left: 0.2px;
}
.COMPRA {
    text-decoration: underline;
}
.navbar{
    background-color: grey;
}