body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar-brand {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .mas {
    width: 15px;
    height: 15px;
    padding-bottom: 3.5px;
    padding-left: 0.2px;
  }
  
  .COMPRA {
    text-decoration: underline;
    color: black;
  }
  
  .navbar {
    background-color: grey;
  }
  
  .navbar-collapse {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .video-estilo {
    width: 100%;
    height: 1200px;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    
  }
  
   .imgane1 {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    max-height: 100vh;
  }
  
  .imagen-estilo,
  .imagenmenu {
    width: 100%;
    height: auto;
    max-height: 45vh;
    object-fit: cover;
    cursor: pointer;
  }
  
  .subrayado {
    text-decoration: none;
    position: relative;
    cursor: pointer;
  }
  
  .subrayado:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .navbar-brand {
      font-size: 12px;
    }
  
    .cart-dropdown {
      padding: 10px;
    }
  
    .COMPRA {
      display: inline-block;
      font-size: 14px;
    }
  
    .cart-item-details h6,
    .cart-item-details p {
      font-size: 14px;
    }
  } 
  